Repository spacelab-ufsc/obdh2, pull requests merged in 2022-05, with the labels that each got.

#314 Adding the option to use an UART interface in the EDC driver
  firmware/devices/payload/payload.c
  firmware/drivers/edc/edc.c
  firmware/drivers/edc/edc.h
  firmware/drivers/edc/edc_i2c.c
  firmware/drivers/edc/edc_uart.c
  firmware/drivers/uart/uart.c
  firmware/drivers/uart/uart.h
  firmware/libs/README.md
  firmware/libs/containers/README.md
  firmware/libs/containers/buffer.c
  firmware/libs/containers/buffer.h
  firmware/libs/containers/queue.c
  firmware/libs/containers/queue.h
  firmware/tests/devices/payload_test.c
  firmware/tests/drivers/Makefile
  firmware/tests/drivers/edc_test.c
  firmware/tests/mockups/drivers/edc_wrap.c
  firmware/tests/mockups/drivers/uart_wrap.c
  firmware/tests/mockups/drivers/uart_wrap.h
  firmware/version.h
Labels: drivers, edc, uart, v&v

#318 EDC driver fixes and updates
  firmware/devices/payload/payload.c
  firmware/drivers/edc/edc.c
  firmware/drivers/edc/edc.h
  firmware/tests/devices/payload_test.c
  firmware/tests/drivers/edc_test.c
  firmware/tests/mockups/drivers/edc_wrap.c
Labels: firmware, drivers, edc, v&v, mockup

#317 Feature driver eps i2c
  firmware/drivers/i2c/i2c.c
  firmware/drivers/sl_eps2/sl_eps2.c
  firmware/tests/drivers/sl_eps2_test.c
Labels: firmware, drivers, spacelab_eps2
